/* Define Regular Font */
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

 /* Define Bold Font */
/* @font-face {
  font-family: 'YourFontNameBold';
  src: url('./assets/fonts/YourFont-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal; 
}

/* Define Italic Font */
/* @font-face {
  font-family: 'YourFontNameItalic';
  src: url('./assets/fonts/YourFont-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}  */

/* Form Container */
.formPersonal,.formEducation,.formExperience {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
form *:not(.formHeader):not(.formHeader *):not(.dropdown) {
    display: none;
}

/* Label Styling */
.form__label {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
    font-weight: 600;
}

/* Input Styling */
.form__input {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
}

.form__input:focus {
    border-color: #007bff;
}

/* FORMHEADER  */
.formHeader{
    display: flex;
    justify-content: space-between;
}
.dropdown{
    cursor: pointer;
    align-self: center;
    width: 25px;
    height: 35px;
}

/* CV SECTION */

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.editGeneral{
    max-width: 35vw;
}
.displayGeneral{
    border: red solid 1px;
    min-width: 65vw;

}

/* CV HEADER */
.displayHeader {
    background-color: #3d3d3d;
    color: white;
    padding: 20px;
    font-family: 'Roboto';

}

.info{
    display: flex;
    justify-content: center;
    gap: 100px;

}
.infoCon{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.emailLogo,.phoneLogo,.locationlogo{
    width: 30px;
    height: 70%;
}
.display{
    font-size: 17px;
}
.fullName{
    text-align: center;
}
/* GREY:#3d3d3d*/
/* BLUE: #043382 */