/* Define Regular Font */
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('../assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

body{
    margin: 0;
}
/* Form Container */
.formPersonal,.formEducation,.formExperience {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.formPersonal{
    margin-top: 0px;
}
form *:not(.formHeader):not(.formHeader *):not(.dropdown) {
    display: none;
}

/* Label Styling */
.form__label {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
    font-weight: 600;
}

/* Input Styling */
.form__input {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
}

.form__input:focus {
    border-color: #007bff;
}

/* FORMHEADER  */
.formHeader{
    display: flex;
    justify-content: space-between;
}
.dropdown{
    cursor: pointer;
    align-self: center;
    width: 25px;
    height: 35px;
}

/* CV SECTION */

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 22px;
}
.editGeneral{
    max-width: 35vw;
}
.displayGeneral{
    min-width: 65vw;

}

/* CV HEADER */
.displayHeader {
    background-color: #3d3d3d;
    color: white;
    padding: 20px;
    font-family: 'Roboto';

}

.info{
    display: flex;
    justify-content: center;
    gap: 100px;

}
.infoCon{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.emailLogo,.phoneLogo,.locationlogo{
    width: 30px;
    height: 70%;
}
.display{
    font-size: 17px;
}
.fullName{
    text-align: center;
}

.titleContainer{
    background-color: #3d3d3d;
    width: 100%;
    margin: 0 auto;
    color: white;
    font-family: "Mont";
    font-size: 12px;
}

/* Body */

.detailsDisplay{
    display: flex;
    gap: 30px;
    width: 88%;
    margin: 0 auto;
}
.school{
    font-family: "Mont";
    font-weight: bolder;
}
.startEndDate,.place,.qualification{
    font-family: "Roboto";
}

/* MAIN HEADER */

.header{
    display: flex;
    justify-content: space-between;

    background-color: #3d3d3d;
    margin-bottom: 20px;
    
}
.leftHead{
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
}
.heading{
    font-size: 46px;
    color: white;

    font-family: 'Oswald';
}

.rightHead{
    display: flex;
    align-items: center;
}
.save{
    width: 120px;
    padding: 6px;
    background-color: #fff;
    color: #3d3d3d;
    font-family: 'Roboto';

    transition: all .3s ease-out;
    cursor: pointer;
    max-height: 40%;
    margin-right: 30px;
}
.save:hover{
    background-color: #2b2b2b;
    color: white;
}
.logo{
    width: 85px;
}
/* GREY:#3d3d3d*/
/* BLUE: #043382 */